<form>
  <fieldset>
    <legend>New Project</legend>
    <label>Name</label>
    <input type="text" placeholder="Type something…">
    <span class="help-block">Try to be short</span>
    <label class="checkbox">
      <input type="checkbox"> Active
    </label>
    <button type="submit" class="btn">Create</button>
  </fieldset>
</form>