<div class="caption proj_caption">
  <ul>
    <li><span class="active">&nbsp;</span><span>active</span></li>
    <li><span class="finished">&nbsp;</span><span>finished</span></li>
    <li><span class="suspended">&nbsp;</span><span>suspended</span></li>
  </ul>
</div>